<div class="container">
  <div class="contact-box">
    <div class="left">
      <div class="heading">
        <h1>Welcome to <span style="color: #f9d307">SabzyHero</span></h1>
      </div>
      <div class="description-1">
        <h5>
          <p>
            SabzyHero is an one stop solution for farmers to sell their produce
            at better rate. SanzyHero Provides a smooth and easy interface for
            farmers to be able to interact vary easily.
          </p>
        </h5>
        <a routerLink="/all-products"><button class="btn">Explore Products</button></a>
      </div>
    </div>
    <div class=" mb-5 right"></div>
  </div>
</div>
