<div class="cart-tables">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Prize Per Unit</th>
        <th scope="col">Total</th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let cart of cartItems; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ cart.productName }}</td>
        <td>x{{ cart.productQuantity }}</td>
        <td>{{ cart.productPricePerUnit }}</td>
        <td>{{ cart.total }}₹</td>
        <td>
          <button
            (click)="deleteCartItem(cart._id)"
            type="button"
            class="btn btn-danger"
          >
            Remove
          </button>
        </td>
      </tr>

      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td>total : {{ total }}₹</td>
        <td>
          <button type="button" (click)="onClickBuy()" class="btn btn-primary">
            Checkout
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
